In [1]:
##Nake a timeseries database

In [2]:
import pandas as pd
import numpy as np
idx = pd.date_range("2020-12-24", periods=24, freq= "H") #generate hourly daterange for christmas eve 2020
idx

DatetimeIndex(['2020-12-24 00:00:00', '2020-12-24 01:00:00',
               '2020-12-24 02:00:00', '2020-12-24 03:00:00',
               '2020-12-24 04:00:00', '2020-12-24 05:00:00',
               '2020-12-24 06:00:00', '2020-12-24 07:00:00',
               '2020-12-24 08:00:00', '2020-12-24 09:00:00',
               '2020-12-24 10:00:00', '2020-12-24 11:00:00',
               '2020-12-24 12:00:00', '2020-12-24 13:00:00',
               '2020-12-24 14:00:00', '2020-12-24 15:00:00',
               '2020-12-24 16:00:00', '2020-12-24 17:00:00',
               '2020-12-24 18:00:00', '2020-12-24 19:00:00',
               '2020-12-24 20:00:00', '2020-12-24 21:00:00',
               '2020-12-24 22:00:00', '2020-12-24 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [3]:
import numpy as np
rng = np.random.default_rng()
ts= pd.DataFrame(data=rng.poisson(20, len(idx)), index=idx, columns=["footfall"]) #add column for shop footfall
ts

                     footfall
2020-12-24 00:00:00        24
2020-12-24 01:00:00        13
2020-12-24 02:00:00        17
2020-12-24 03:00:00        18
2020-12-24 04:00:00        16
2020-12-24 05:00:00        16
2020-12-24 06:00:00        10
2020-12-24 07:00:00        20
2020-12-24 08:00:00        14
2020-12-24 09:00:00        18
2020-12-24 10:00:00        16
2020-12-24 11:00:00        15
2020-12-24 12:00:00        18
2020-12-24 13:00:00        19
2020-12-24 14:00:00        21
2020-12-24 15:00:00        19
2020-12-24 16:00:00        21
2020-12-24 17:00:00        20
2020-12-24 18:00:00        21
2020-12-24 19:00:00        23
2020-12-24 20:00:00        15
2020-12-24 21:00:00        17
2020-12-24 22:00:00        22
2020-12-24 23:00:00        19

In [5]:
print(ts.describe())

        footfall
count  24.000000
mean   18.000000
std     3.310064
min    10.000000
25%    16.000000
50%    18.000000
75%    20.250000
max    24.000000

In [8]:

# 1000 random integers between 0 and 50
x = np.random.randint(0, 50, 1000)

# Positive Correlation with some noise
sales = ['footfall'] + np.random.normal(0, 10, idx)

np.corrcoef(x, y)

TypeError: 'Timestamp' object cannot be interpreted as an integer

In [7]:
#would like to generate values for sales corrolated to footfall, maybe based on pearson's coefficient r value using .corr
ts['sales'] = (ts['footfall']*10) #add sales col based on 10 spend pp visiting the shop
ts

                     footfall  sales
2020-12-24 00:00:00        24    240
2020-12-24 01:00:00        13    130
2020-12-24 02:00:00        17    170
2020-12-24 03:00:00        18    180
2020-12-24 04:00:00        16    160
2020-12-24 05:00:00        16    160
2020-12-24 06:00:00        10    100
2020-12-24 07:00:00        20    200
2020-12-24 08:00:00        14    140
2020-12-24 09:00:00        18    180
2020-12-24 10:00:00        16    160
2020-12-24 11:00:00        15    150
2020-12-24 12:00:00        18    180
2020-12-24 13:00:00        19    190
2020-12-24 14:00:00        21    210
2020-12-24 15:00:00        19    190
2020-12-24 16:00:00        21    210
2020-12-24 17:00:00        20    200
2020-12-24 18:00:00        21    210
2020-12-24 19:00:00        23    230
2020-12-24 20:00:00        15    150
2020-12-24 21:00:00        17    170
2020-12-24 22:00:00        22    220
2020-12-24 23:00:00        19    190

In [6]:
import pingouin

pingouin.corr(x=ts['footfall'], y=ts['sales']) #sales directly corrolated to footfall (r value of 1.0)

          n    r       CI95%  p-val BF10  power
pearson  24  1.0  [1.0, 1.0]    0.0  inf      1

In [7]:
from scipy.stats import multivariate_normal as mvn
cov = np.array(ts)
cov

array([[ 20, 200],
       [ 20, 200],
       [ 16, 160],
       [ 24, 240],
       [ 20, 200],
       [ 23, 230],
       [ 24, 240],
       [ 20, 200],
       [ 11, 110],
       [ 19, 190],
       [ 21, 210],
       [ 22, 220],
       [ 19, 190],
       [ 19, 190],
       [ 18, 180],
       [ 20, 200],
       [ 13, 130],
       [ 10, 100],
       [ 13, 130],
       [ 17, 170],
       [ 21, 210],
       [ 17, 170],
       [ 21, 210],
       [ 12, 120]], dtype=int64)